<div class="col-md-6 col-md-offset-3">
	<form action="/secrets/<%=params[:id]%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<h3>Update Secret</h3>
			<div class="form-group">
				<textarea name="content" class="form-control" rows="5" placeholder="<%=@secret.content%>" id='thisarea'></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="update secret" class="btn btn-default col-md-offset-9">
			</div>
	</form>
</div>