.your_secrets{
	height: 89%;
}
.secrets, .secrets_liked{
	height: 62%;
	border: 1px solid gray;
	overflow: scroll;	
}

.secrets .form-group .erase{
	float: right;
}

.main_secrets_div{
	height: 90%;
}

.minor_secrets_div{
	height: 100%;
	overflow: scroll; 
	border: 1px solid gray;
}

p{
	margin-bottom: -0em;
	padding-left: -2em;
}

h1, h4{
	text-align: center;
}

.home{
	border: 1px solid gray;
	padding-left: 6px;
	padding-bottom: 3px;
	background-color: white;
}

.like{
	padding-left: 0px;
	margin-bottom: 2px;
}
.erase_main{
	position: relative;
	/*right: 0%;*/
}

